{% extends "base.html" %}
{% set active_page = "index" %}


{% block title -%}
    <h1>Robot control centre</h1>
{%- endblock title %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Column 1</h3>
          <h1>Hello, {{ username }}!</h1>
            <button type="button" class="btn btn-primary btn-lg" id="changeTitle">Change title </button>
        </div>
        <div class="col-sm-4">
          <div class="container">
              <h2>Button Group</h2>
              <div class="btn-group">
                <button type="button" class="btn btn-success">On</button>
                <button type="button" class="btn btn-danger">Off</button>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <button type="button" class="btn btn-success" id="getAPI" onclick="getAPI()">GET DATA FROM API </button>
            <p id="result"></p>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <form id="myForm" action=#>
                    <label for="firstName">First name:
                        <input type="text" name="fname"><br>
                    </label>
                    <label for="lastName">Last name:
                        <input type="text" name="lname"><br><br>
                    </label>

                  <input type="button" onclick="postRequestForm('http://127.0.0.1:5000/test', '#myForm')" value="Submit form">
                </form>
                <div>
                    <button type="button" class="btn btn-danger" onclick="postRequest('http://127.0.0.1:5000/test', {'filename':'test'})">doIt</button>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onChange="whatsup('dropdownMenuButton')">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{super()}}
    <script>
    var triggered = false;
    document.getElementById('changeTitle').addEventListener('click', changeTitle);


    function changeTitle(){
        if (triggered){
            document.getElementById('status').innerHTML='Idle'
            triggered = false
        } else {
            document.getElementById('status').innerHTML='Running'
            triggered = true
        }
    }

    function whatsup(elementName) {
        var myDropdown=document.getElementsByName(elementName)[0];

        console.log(myDropdown.value);
    }

    function myFunction() {
      // document.getElementById("myForm").submit();
        var myForm = document.getElementById("myForm")


        console.log(document.getElementById("myForm").elements.namedItem("fname").value)
    }

    </script>
{% endblock %}