{% extends "base.html" %}
{% set active_page = "xbox" %}


{% block title -%}
    <h1>Xbox control centre</h1>
{%- endblock title %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-sm-4">
            <h2>Instructions:</h2>
              <p>See the buttons?</p>
              <p>Click em!</p>
        </div>
        <div class="col-sm-4">
          <div class="container">
              <h2>Xbox control</h2>
              <div class="btn-group">
                <button type="button" class="btn btn-success" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/start')">On</button>
                <button type="button" class="btn btn-danger" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/stop')">Off</button>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="container">
                <h2>Camera controlls</h2>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" onclick="emptyPostRequest('http://127.0.0.1:5000/startcamera')">On</button>
                    <button type="button" class="btn btn-danger" onclick="emptyPostRequest('http://127.0.0.1:5000/stopcamera')">Off</button>
              </div>
                <br>
                <br>
                <button type="button" class="btn btn-success" onclick="emptyPostRequest('http://127.0.0.1:5000/startcameraRecording')">Record</button>
            </div>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Find center mode:</h2>
                <button type="button" class="btn btn-success" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/findcenter')">Engage</button>
                <br>
                <button type="button" class="btn btn-danger" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/clearcenter')">Clear center</button>
            </div>
             <div class="col-sm-4">
                 <h2>Save moves to file:</h2>
                 <form id="saveForm" action=#>
                     File name:<br>
                     <label>
                         <input type="text" name="filename" id="toSaveFileName">
                     </label><br>
                  <input type="button" onclick="postRequestForm('http://127.0.0.1:5000/xbox/saveToFile', '#saveForm'); document.getElementById('toSaveFileName').value = ''" value="Submit">
                </form>
                 <h2>Restore moves from file:</h2>
                 <form id="restoreForm" action=#>
                     File name:<br>
                     <label>
                         <input type="text" name="filename" id="toRestoreFileName">
                     </label><br>
                  <input type="button" onclick="postRequestForm('http://127.0.0.1:5000/xbox/restoreFromFile', '#restoreForm'); document.getElementById('toRestoreFileName').value = ''" value="Submit">
                </form>
             </div>
             <div class="col-sm-4">
                 <h2>Set max speed:</h2>
                 <form id="speedInput" action=#>
                     Speed (in cm/s, from 0 to 50):<br>
                     <label>
                         <input type="text" name="speed" id="newSpeed">
                     </label><br>
                  <input type="button" onclick="postRequestForm('http://127.0.0.1:5000/xbox/setSpeed', '#speedInput'); document.getElementById('newSpeed').value = ''" value="Submit">
                </form>
             </div>
        </div>
    </div>

    <!--<script>-->
        <!--getRobotStatus();-->
    <!--</script>-->
{% endblock %}