{% extends "base.html" %}
{% set active_page = "xbox" %}


{% block title -%}
    <h1>Xbox control centre</h1>
{%- endblock title %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-sm-4">
            <h3>Instructions:</h3>
          <p>See the buttons?</p>
          <p>Click em!</p>
        </div>
        <div class="col-sm-4">
          <div class="container">
              <h2>Xbox control</h2>
              <div class="btn-group">
                <button type="button" class="btn btn-success" onclick="turnOn()">On</button>
                <button type="button" class="btn btn-danger" onclick="turnOff()">Off</button>
              </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="container">
                <h2>Camera controlls</h2>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" onclick="turnCameraOn()">On</button>
                    <button type="button" class="btn btn-danger" onclick="turnCameraOff()">Off</button>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!--<script>-->
        <!--getRobotStatus();-->
    <!--</script>-->
{% endblock %}


{% block scripts %}
{{super()}}
    <script>

    function turnOn(){
         fetch('http://127.0.0.1:5000/xbox/start', {
                method: 'post',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: ""
             }

         )
        .then((res) => {return res.json()})
        .then((data) => {
            console.log(data);
            getRobotStatus()
        })
    }

    function turnOff() {
        fetch('http://127.0.0.1:5000/xbox/stop', {
                method: 'post',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: ""
             }

         )
        .then((res) => {return res.json()})
        .then((data) => {
            console.log(data);
            getRobotStatus()
        })
    }

    </script>

{% endblock %}