{% extends "base.html" %}
{% set active_page = "xbox" %}


{% block title -%}
    <h1>Xbox control centre</h1>
{%- endblock title %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-sm-4">
            <h2>Instructions:</h2>
              <p>See the buttons?</p>
              <p>Click em!</p>
        </div>
        <div class="col-sm-4">
          <div class="container">
              <h2>Xbox control</h2>
              <div class="btn-group">
                <button type="button" class="btn btn-success" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/start')">On</button>
                <button type="button" class="btn btn-danger" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/stop')">Off</button>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="container">
                <h2>Camera controlls</h2>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" onclick="emptyPostRequest('http://127.0.0.1:5000/startcamera')">On</button>
                    <button type="button" class="btn btn-danger" onclick="emptyPostRequest('http://127.0.0.1:5000/stopcamera')">Off</button>
              </div>
            </div>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="col-sm-4">
            <h2>Find center mode:</h2>
            <button type="button" class="btn btn-success" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/findcenter')">Engage</button>
            <h2>Clear center:</h2>
            <button type="button" class="btn btn-danger" onclick="emptyPostRequest('http://127.0.0.1:5000/xbox/clearcenter')">Engage</button>
        </div>
    </div>

    <!--<script>-->
        <!--getRobotStatus();-->
    <!--</script>-->
{% endblock %}