<!DOCTYPE html>
<html>
    <head>
        <title>test page</title>
    </head>
   <body>
   <h1  style="font-size:50px;">Log yourself in!</h1>
   <a href="images/test.jpg" ><button style="color:red">Click me</button></a>
   <br>
      <form action = "http://localhost:5000/login" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
          <p>Enter password:</p>
          <p><input type = "text" name = "pw" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

        <br>
      <form action = "http://localhost:5000/hoi" method = "get">
         <p><input type = "submit" value = "x" /></p>
      </form>
   </body>
</html>