{% extends "base.html" %}
{% set active_page = "xbox" %}


{% block title -%}
    <h1>Xbox control centre</h1>
{%- endblock title %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-lg" id="changeTitle">Change title </button>
        </div>
        <div class="col-sm-4">
          <div class="container">
              <h2>Button Group</h2>


             <div class="checkbox disabled">
              <label>

              </label>
            </div>

          </div>
        </div>
        <div class="col-sm-4">
          <h3>General info:</h3>
          <p>This is the control panel for Fred the robot arm</p>
          <p>Everything you see is still work in progress</p>
        </div>
      </div>
    </div>

    <!--<script>-->
        <!--getRobotStatus();-->
    <!--</script>-->
{% endblock %}


{% block scripts %}
{{super()}}
    <script>
    var triggered = false;
    document.getElementById('changeTitle').addEventListener('click', changeTitle);


    function changeTitle(){
        if (triggered){
            document.getElementById('status').innerHTML='Idle';
            triggered = false
        } else {
            document.getElementById('status').innerHTML='Running';
            triggered = true
        }
    }

    </script>

{% endblock %}